@model RentalApp.ViewModels.PropertyOwnerListView

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Property Information</h4>
    <hr />


    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.SquareFootage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.SquareFootage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Facilities)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Facilities)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Availability)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Availability)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Term)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Term)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Address.Neighborhood)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Address.Neighborhood)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Address.StreetNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Address.StreetNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Address.StreetName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Address.StreetName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Address.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Address.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Address.ProvinceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Address.ProvinceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Address.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Address.Country)
        </dd>
        @if(Model.Property.Address.SuiteNumber > 0)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Property.Address.SuiteNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Property.Address.SuiteNumber)
            </dd>

        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Address.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Address.PostalCode)
        </dd>

        <hr />
        <dt>
           <h4>Owner contact information</h4>
        </dt>
        <hr />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.UserPhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.UserPhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.UserEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.UserEmail)
        </dd>
    </dl>

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
