@model IEnumerable<RentalApp.ViewModels.PropertyOwnerListView>

@{
    ViewData["Title"] = "MyProperties";
}

<h1>My Properties</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="table-dark">
            <th>
                @Html.DisplayNameFor(model => model.Property.Address.StreetNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property.Address.StreetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property.Address.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property.Address.ProvinceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property.SquareFootage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property.Facilities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Term)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property.Availability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property.Address.Neighborhood)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Property.Address.StreetNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Property.Address.StreetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Property.Address.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Property.Address.ProvinceName)
                </td>



                <td>
                    @Html.DisplayFor(modelItem => item.Property.SquareFootage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Property.Facilities)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Term)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Property.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Property.Availability)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Property.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Property.Address.Neighborhood)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Property.PropertyId }) |
                    @Html.ActionLink("Details", "Details", new { propertyId = item.Property.PropertyId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Property.PropertyId }, new { onclick = "return confirm('Are you sure you want to delete this property?');" })
                </td>
        </tr>
}
    </tbody>
</table>
