@model RentalApp.ViewModels.QuoteViewModel

@{
    ViewData["Title"] = "Quote";
}

<h1>Quote</h1>

<div>
    <h4>QuoteViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SqFt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SqFt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facilities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facilities)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TermName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TermName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerInformation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiresBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiresBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deposit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deposit)
        </dd>
    </dl>
</div>
