@model IEnumerable<RentalApp.Models.Address>

@{
    ViewData["Title"] = "Index";
}

<h1>Address List</h1>

<p>
    <a asp-action="Create">Create New</a> @* // [Address List step 3] - create this View (file inside of Views/Address folder) *@
</p>
<table class="table">
    <thead>
        <tr class="table-dark">
            <th>
                @Html.DisplayNameFor(model => model.Neighborhood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                Province
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuiteNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Neighborhood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProvinceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuiteNumber)
            </td>
            <td>
                    @* // [Update Address step 3] Put object Id in this case is item.AddressId*@
                    @Html.ActionLink("Edit", "Edit", new { id = item.AddressId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.AddressId }) |
                    @* // [DeleteAddress step 3] Put object Id in this case is item.AddressId*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.AddressId }, new { onclick = "return confirm('Are you sure you want to delete this address?');" })
            </td>
        </tr>
}
    </tbody>
</table>
