@model IEnumerable<RentalApp.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Profile Information</h1>
<table class="table">
    <thead>
        <tr class="table-dark">
            <th>
                @Html.DisplayNameFor(model => model.user.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.UserPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.UserAccountName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.user.FullName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.user.UserPhoneNumber)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.user.UserEmail)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.user.UserAccountName)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.user.UserId })
            </td>
        </tr>
}
    </tbody>
</table>
