@model IEnumerable<RentalApp.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="table-dark">
            <th>
                @Html.DisplayNameFor(model => model.user.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.UserPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.UserAccountName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.user.UserName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.user.UserPhoneNumber)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.user.UserEmail)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.user.UserAccountName)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.user.UserId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.user.UserId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.user.UserId }, new { onclick = "return confirm('Are you sure you want to delete this user?');" })
                   
            </td>
        </tr>
}
    </tbody>
</table>
